body {
  background-color: rgb(253, 251, 251);
}

h1 {
  color: rgb(3, 3, 233);
}

h2 {
  text-align: center;
  color: rgb(39, 39, 9);
}

h3 {
  text-align: left;
  color: rgb(31, 31, 15);
  margin-left: auto;
  margin-right: auto;
}

p {
  max-width: 600ch;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  width: 90%;
}

li {
  color: black;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: aquamarine;
}

#titulo {

  color: rgb(3, 3, 233);
  text-align: center;
  display: inline-block;
}

#navinicio {
  display: inline;
  color: black;
}

#minha_foto {
  display: block;
  max-width: 100%;
  border-radius: 25%;
  margin-left: 20%;
}


#licoes_aprendidas {
  width: 50%;
  display: block;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#licoes_a_aprender {
  width: 50%;
  display: inline-block;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#rodape {
  border: 1px grey solid;
  line-height: 0em;
  font-size: 15px;
  display: inline-block;
  background-color: rgb(241, 232, 232);
  height:35px;
  padding: 10px;
}

#lado-direito {
  border: 70px;
  margin-left: 70%;
  top: 100px;
  position: absolute;
  width: 40ch;
}

#lado-esquerdo {
  max-width: 600ch;
  overflow: hidden;
  text-align: justify;
  width: 75%;
}

.licoes {
  display: inline-block;
  width: 70%;
  background-color: rgb(238, 190, 190);
}