body {
    background-color:rgb(253, 251, 251);
}

h1 {
    color: rgb(3, 3, 233);
    
}
#cabecalho {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    border-top: 1px #f1f0e8 solid;
    background-color: aquamarine;
        
}

#titulo {
    color: rgb(3, 3, 233);
    text-align: center;
    display: inline-block;
}